@model BookWebApp.ViewModels.BookWithAuthorsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookWithAuthorsVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publisherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publisherName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
